@model ProtoDEV___Proyecto_Programacion.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Categoría</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <label asp-for="ordenCategoria" class="control-label"></label>
                <input asp-for="ordenCategoria" class="form-control" />
                <span asp-validation-for="ordenCategoria" class="text-danger"></span>
            </div>
            <div class="form-group pb-2">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-return-left"></i> Regresar a la lista
                </a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
